@import './base.css';

@media screen, print {
	:root {
		--sqrt3: 1.732051;
		--hex-height: max(min(100vh/6.4, 100vw/6), 60px);
		--rec-width: calc(var(--hex-height) / var(--sqrt3));
		--hex-gap: max(0.2rem,min(0.5vh,0.5vw));

		--hex-border-size: max(0.2rem,min(0.3vh,0.3vw));
		--hex-border-color: rgb(48, 48, 48);
		--hex-border-color-hover: cornflowerblue;
		--hex-border-radius: 0rem;

		--pce-gap: max(0.3rem,min(0.6vh,0.6vw));
		--pce-border-size: max(0.2rem,min(0.5vh,0.5vw));
		--pce-border-color: var(--board-color);
		--pce-height: calc(var(--hex-height) - 2 * var(--pce-gap));
		--pce-width: calc(var(--pce-height) / 2 / var(--sqrt3));

		--pce-color1: red;
		--pce-color2: green;
		--pce-color3: hsl(239, 70%, 27%);
		--pce-color4: rgb(130, 223, 0);
		--pce-color5: rgb(255, 123, 0);
		--pce-color6: hsl(281, 100%, 40%);
		--pce-color7: #00aeff;
		--pce-color8: magenta;
		--pce-color9: #ebd003;

		--board-color: rgb(231, 231, 231);
		--header-background-color: var(--hex-border-color);
		--font-main-color: var(--hex-border-color);
		--font-neg-color: var(--board-color);
		--font-family: Helvetica, Arial, sans-serif;
		--font-size-xxl: max(3.5rem,min(8vh,8vw));
		--font-size-xl: max(1.5rem,min(4vh,4vw));
		--font-size-l: max(2.5rem,min(4vh,4vw));
		--font-size-m: max(1.5rem,min(2.5vh,2.5vw));
		--font-size-s: max(1rem,min(2.5vh,2.5vw));
	}

	html {
		font-size: 10px;
		height: 100%;
		min-height: 390px;
		min-width: 330px;
	}

	body {
		height: 100%;
	}

	.hidden {
		display: none !important;
	}

	#app {
		height: 100%;
		display: grid;
		grid-template-columns: 5fr;
		grid-template-rows: 5rem 1fr;
		background-color: var(--board-color);
	}
}

@media (orientation: landscape) {
	#app{
		grid-template-rows: 3rem 1fr;
	}
}

@media (min-height: 700px) {
	#app{
		grid-template-rows: 5rem 1fr;
	}
}