@import './base.css';

:root{
	--main-color: rgb(255, 183, 0);
	--dark-background-color: rgb(68, 68, 68);
	--sqrt3: 1.732051;
	--hex-height: min(min(15vh, 15vw), 30rem);
	--rec-width: calc(var(--hex-height) / var(--sqrt3));
	--hex-gap: 0.5rem;
  
	--hex-border-size: 0.5rem;
	--hex-border-color: rgb(255, 183, 0);
	--hex-border-color-hover: cornflowerblue;
  
	--pce-gap: 0.8rem;
	--pce-border-size: var(--hex-border-size);
	--pce-height: calc(var(--hex-height) - 2 * var(--pce-gap));
	--pce-width: calc(var(--pce-height) / 2 / var(--sqrt3));
  
	--pce-color1: red;
	--pce-color2: green;
	--pce-color3: hsl(239, 70%, 27%);
	--pce-color4: rgb(130, 223, 0);
	--pce-color5: rgb(255, 123, 0);
	--pce-color6: hsl(281, 100%, 40%);
	--pce-color7: #00aeff;
	--pce-color8: magenta;
	--pce-color9: #fee000;
  
	--board-color: rgb(68, 68, 68);
	--font-main-color: white;
	--font-neg-color: rgb(68, 68, 68);
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	height: 100%;
}

.hidden {
	display: none !important;
}

#app {
	height: 100%;
	display: grid;
	grid-template-columns: 5fr;
	grid-template-rows: 5rem 1fr;
}